@include: common.neon

type:
	label: Type
	type: select
	default:
		accordion: Accordion
		toggle: Toggle
		htabs: Horizontal Tabs
		vtabs: Vertical Tabs
	help: "Select type of toggles"

category:
	label: Category
	type: categories
	taxonomy: toggles
	default: 0
	help: "Select category displayed on page"

orderby:
	label: Order By
	type: select
	selected: menu_order
	# see http://codex.wordpress.org/Class_Reference/WP_Query#Order_.26_Orderby_Parameters
	default:
		title: Alphabetically
		menu_order: Item Order
		rand: Random
	help: 'Select order of items listed on page'

order:
	label: Order
	type: select
	selected: ASC
	default:
		ASC: Ascending
		DESC: Descending
	help: 'Select order of items listed on page'

- section(title: 'Advanced Colors', advanced: true)

toggleBackgroundColor:
	label: Toggle Background Color
	type: color
	opacity: 100%
	default: ""
	help: "Background Color of Toggle Backgound"

toggleIconColor:
	label: Toggle Background Color
	type: color
	opacity: 100%
	default: ""
	help: "Background Color of Toggle Backgound"